---

---
<body>
<h1>Bills!</h1>
<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/bills/">Bills</a>

<p>the paper money that came to conquer</p>
Today the dollar is the world's primary reserve currency. But how did we get here?

In 1929 the dollar bill began printing. In the revolutionary era there wasn't an accepted currency

</body>