---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "BillCoin";
---
<BaseLayout pageTitle={pageTitle}>
		<h2>Your guide to currency!</h2>
		<p>
Visit the <a href="/about">about</a> page to learn more about this blog!<br>

</BaseLayout>

<style>

</style>