---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "BillCoin";
---
<BaseLayout pageTitle={pageTitle}>
		<h2>Your guide to currency!</h2>
		<p>


</BaseLayout>

<style>

</style>