---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import Base from '../components/Base.astro';
import Layout from '../layouts/Layout.astro';

const pageTitle = "International Info";

// Define interface for rate data
interface ExchangeRate {
    country: string;
    currency: string;
    exchange_rate: string;
}

const response = await fetch('https://api.fiscaldata.treasury.gov/services/api/fiscal_service/v1/accounting/od/rates_of_exchange');
const data = await response.json();
const exchangeRates = data.data as ExchangeRate[] || [];

---
<Base />
<Navigation />



<html lang="en">
<body>

    <h1>{pageTitle}</h1>

        <h2>Exchange Rates to USD</h2>
        <p style="font-size: 80%; margin: 0%; padding: 0:">data sourced from treasury.gov</p>
        <div class="currency-grid">
            {exchangeRates.map((rate: ExchangeRate) => (
                    <div class="currency-card blob">
                        <h3>{rate.country}</h3>
                        <p><strong></strong> {rate.currency}</p>
                        <p><strong>Exchange Rate:</strong> {rate.exchange_rate} / 1$ USD</p>
                    </div>
            ))}
    </div>
</body>



<style>


    .currency-card {
        border-radius: 8px;
        padding: 1rem;
        grid-column: span 1;
        background: #EBA0AC;
        background: linear-gradient(90deg,rgba(235, 160, 172, 1) 0%, rgba(203, 166, 247, 1) 100%);
    }

    .currency-card.blob {
        width: 15rem;
        height: 20rem;
        aspect-ratio: 1;
        clip-path: shape(from 59.25% 92.20%,curve to 34.28% 92.41% with 47.11% 96.01%,curve to 12.84% 78.17% with 21.45% 88.82%,curve to 5.25% 54.20% with 4.23% 67.52%,curve to 11.59% 29.17% with 6.27% 40.88%,curve to 28.14% 10.28% with 16.90% 17.46%,curve to 53.17% 3.20% with 39.38% 3.10%,curve to 76.22% 13.13% with 66.97% 3.29%,curve to 92.55% 34.50% with 85.47% 22.97%,curve to 95.67% 59.16% with 99.64% 46.02%,curve to 81.55% 80.35% with 91.70% 72.31%,curve to 59.25% 92.20% with 71.40% 88.40%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        transition: background-color 0.3s, transform 0.3s;;
    }



    .currency-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
        gap: 4rem;
        justify-content: center;

        justify-items: center;
    }



    @media (max-width: 1600px) {
        .currency-grid {
            grid-template-columns: repeat(6, minmax(10rem, 1fr));
        }
    }

    @media (max-width: 1400px) {
        .currency-grid {
            grid-template-columns: repeat(5, minmax(10rem, 1fr));
        }
    }

    @media (max-width:1200px) {
        .currency-grid {
            grid-template-columns: repeat(4, minmax(10rem, 1fr));
        }
    }

    @media (max-width:1000px) {
        .currency-grid {
            grid-template-columns: repeat(3, minmax(10rem, 1fr));
        }
    }

    @media (max-width: 800px) {
        .currency-grid {
            grid-template-columns: repeat(2, minmax(10rem, 1fr));
        }
    }


    .currency-card:hover {
        background-color: #fab387;
        transform: translateX(-4px);
    }


    </style>